 /* Styling for top portion */
html{
	background-image: url("Images/background-image-clubs.jpeg")
}

h1{
	margin-bottom: 50px;
}

img{
	max-width: 100%;
	max-height: 100%;
}
#game-wrapper{
	text-align: center;


}

h1{
	color: white;
}
#dealer-section{
	position: relative;
}

#speech-bubble{
	display: none;
	position: absolute;
	background-color: white;
	height: 100px;
	width: 200px;
	border-radius: 50%;
	top: -8px;
	line-height: 100px;
	
}

#speech-bubble-tail{
	display: none;
	position: absolute;
	left: 53%;
	top: 52px;
	width: 81px;
	height: 11px;
	border-radius: 100% 0% 0% 0%;
	background-color: white;
}

/* Styling for the table */

#table-container{
	position: relative;
	height: 380px;
	margin-top: -17px;
}

#table{
	height: 390px;
	width: 70%;
	background-color: #054A29;
	margin: auto;
	border-radius: 5% 5% 50% 50%;
	margin-top: -74px;
	transform: perspective(100em) rotateX(45deg);
	box-shadow: 6px 18px 10px black;
	position: absolute;
	left: 15%;
	z-index: 2;
	

}



#table-leg-left{
	/* //rk come back  */
	height: 200px;
	width: 2.4%;
	background-color: black;
	/* transform: perspective(100em) rotateX(15deg); */
	border-radius: 5% 5% 49% 5%;
	/* margin-top: -200px; */
	position: absolute;
	z-index: 1;
	display: inline-block;
	left: 17%;
	bottom: 45px;		
}

#table-leg-left2{
	/* //rk come back  */
	height: 200px;
	width: 2.4%;
	background-color: black;
	/* transform: perspective(100em) rotateX(15deg); */
	border-radius: 5% 5% 49% 5%;
	/* margin-top: -200px; */
	position: absolute;
	z-index: 1;
	display: inline-block;
	left: 20%;
	bottom: 125px;		
}

#table-leg-right{
	/* //rk come back  */
	height: 200px;
	width: 2.4%;
	background-color: black;
	/* transform: perspective(100em) rotateX(15deg); */
	border-radius: 5% 5% 5% 49%;
	/* margin-top: -200px; */
	position: absolute;
	z-index: 1;
	display: inline-block;
	right: 16%;
	bottom: 45px;		
}

#table-leg-right2{
	/* //rk come back  */
	height: 100px;
	width: 2.4%;
	background-color: black;
	/* transform: perspective(100em) rotateX(15deg); */
	border-radius: 5% 5% 5% 49%;
	/* margin-top: -200px; */
	position: absolute;
	z-index: 1;
	display: inline-block;
	right: 19%;
	bottom: 125px;		
}

.deck{
	height: 57px;
	width: 40px;

	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Styling for buttons */

button{
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	margin-right: 25px;
	border-radius: 10%;
}

#button-container1{
	position: absolute;
	bottom: 48px;
	left: 28%;

}

#hit-button{
	padding-right: 23.5px;
	padding-left: 23.5px;
}


#deal-button{
	background-color: #048BA8;
	/* background-color: gold; */
}

#hit-button{
	background-color: #99C24D;	
}

#stand-button{
	background-color: #EF6461;		
}

#reset-button{
	display: i;


}
/* Styling for beer */

#beer{
	position: absolute;
	right: 24%;
	bottom: 72px;
}

#drink-beer{
	position: absolute;
	right: 7%;
	bottom: 87px;
	background-color: gold;
}


/* add styling so that the table moves when the user drinks a beer */
.lit{
	animation: swayTable 19s infinite;

}


@keyframes swayTable{
	0%{
		left: 0%;
	}
	30%{
		left: 4%;
	}
	70%{
		left: -1%;
	}
	100%{
		left: 4%;
	}
}

/* styling for cards */

.card{
	/* background-color: blue; */
	height: 80px;
	width: 57px;
	margin-right: 3px;
	display: inline-block;
	transition:  3s;
}

.card:hover{
	transform: rotateY(-180deg);
}

